.button {
  cursor: pointer;
  background: none;
}

.clear {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

.outlined {
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 4px;
}