.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 4px;
  background: var(--bg-color);
}

.small {
  width: 400px;
}

.medium {
  width: 600px;
}

.large {
  width: 800px;
}