.app.dark {
  --bg-color: #624ef8;
  --bg-color-inverted: #d6d6ff;
  --primary-color: #4ef851;
  --secondary-color: #00ffa0;
  --primary-color-inverted: #4b4980;
  --secondary-color-inverted: #779eb4;
}