.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--bg-color-inverted);
  display: flex;
  align-items: center;
  padding: 20px;
}

.linksWrapper {
  margin-left: auto;
}

.link {
  margin-left: 15px;
}